// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

/** Font Sizes */
@mixin styleText($style: '', $number: 16, $unit: 'rem', $important: false) {
    @if $style=='' {
        $style: 'font-size';
    }

    @else {
        $style: 'letter-spacing';
    }

    @if $important {
        $important: '!important';
    }

    @else {
        $important: '';
    }

    @if $unit=='px' {
        @if $style=='font-size' {
            #{$style}: #{$number}px #{$important};
        }

        @else {
            #{$style}: calc((#{$number} / 1000) * 1px) #{$important};
        }
    }

    @else {
        @if $style=='font-size' {
            #{$style}: calc((#{$number} / 16) * 1#{$unit}) #{$important};
        }

        @else {
            #{$style}: calc((#{$number} / 1000) * 1#{$unit}) #{$important};
        }
    }
}

.db-dark-theme {
    background: $primaryColor;
    color: $secondaryColor;
}

.db-sidebar.wrapper {
    background: $sidebarBackground;
    color: $secondaryColor;
}

.db-wrapper {
    width: 100%;
    background: $primaryColor;
}

.db-header {
    width: 100%;
    background: $sidebarBackground;
    color: $secondaryColor;
    min-height: 56px;
    display: flex;
}

.padding-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pt {
    padding-top: 2rem;
}

.pb {
    padding-bottom: 2rem;
}

.bg-image {
    background: $headerBG;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c-wrapper {
    display: none !important;
}

a,
a.p-link {
    color: $secondaryColor;
    text-decoration: none;
    transition: 0.5s all;
    border-bottom: 1px solid transparent;
    width: fit-content;

    &:hover {
        color: $white;
        text-decoration: none;
        border-color: $white;
    }
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;

    @include styleText('', 70, 'rem');
    @include styleText('ls', 50, 'rem');
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;

    @include styleText('', 50, 'rem');
    @include styleText('ls', 50, 'rem');
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: normal;

    @include styleText('', 44, 'rem');
    @include styleText('ls', 50, 'rem');
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: normal;

    @include styleText('', 34, 'rem');
    @include styleText('ls', 50, 'rem');
}

h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;

    @include styleText('', 20, 'rem');
    @include styleText('ls', 50, 'rem');
}

h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-style: normal;

    @include styleText('', 18, 'rem');
    @include styleText('ls', 50, 'rem');
}

li {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-style: normal;

    @include styleText('', 16, 'rem');
    @include styleText('ls', 50, 'rem');
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-style: normal;

    @include styleText('', 18, 'rem');
    @include styleText('ls', 50, 'rem');
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

// Custom Margin
.db-mt-1 {
    margin-top: 1rem;
}

.db-mt-2 {
    margin-top: 2rem;
}

.db-mt-3 {
    margin-top: 3rem;
}

.db-mt-4 {
    margin-top: 4rem;
}

.db-mb-1 {
    margin-bottom: 1rem;
}

.db-mb-2 {
    margin-bottom: 2rem;
}

.db-mb-3 {
    margin-bottom: 3rem;
}

.db-mb-4 {
    margin-bottom: 4rem;
}

.db-my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.db-my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.db-my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.db-my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.divider {
    width: 95%;
    background: $white;
    height: 1px;
    margin: 0 auto;
}

// Sidebar

.build-section {
    background: transparent;
    border: 2px solid $secondaryColor;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .buttons.icon-text {
        // Global CRUD Buttons with Icons
        .btn-edit,
        .btn-delete,
        .btn-view,
        .btn-create {
            i {
                margin-right: 1rem;
            }
        }
    }
}

.db-navbar {
    background: $sidebarBackground;
    color: $secondaryColor;
    padding: 2rem 4rem;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.image-wrapper {
    position: relative;
    padding-bottom: 70%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.image-wrapper.landscape {
    position: relative;
    padding-bottom: 18%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.header-image img {
    object-fit: contain !important;
}

.comment-card {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    color: $secondaryColor;
    
    .comment {
        width: 100%;
        margin: 1rem 0;
        border: 2px solid $builderBlue;

        .comment-header {
            width: 100%;
            padding: 1rem;
            justify-content: space-around;

            i {
                margin-left: 0.5rem;
            }

            h5 {
                margin-bottom: 0;
            }
        }

        .comment-body {
            width: 100%;
            padding: 1rem;
            position: relative;

            .reactions {
                position: absolute;
                right: 1rem;
                bottom: 3rem;
            }

            textarea {
                background: transparent;
                border: 2px solid $secondaryColor;
                color: $secondaryColor;
            }
        }
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

ul.top-nav {
    padding: 0.5rem 0;

    li.nav-item {
        padding: 0 1rem;

        a {
           transition: 0.5s all;
        
           i {
                font-size: 1.5rem;
            }
        }
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem auto;

    a:nth-child(2) {
        margin-left: 1rem;
    }

    a:nth-child(3) {
        margin-left: 1rem;
    }
}

ul.blank-ul {
    list-style-type: none;
    padding-left: 0;
}

// Tables
.table-responsive {
    table {
        background: transparent;
        color: $secondaryColor;
    
        th {
            vertical-align: middle;
            padding: 0.75rem;
        }

        tbody {
            tr {
                transition: 0.5s all;
            }
        
            tr:hover {
                background: transparent;
                color: $secondaryColor;
                opacity: 0.75;
            }
        }
    
        .action-buttons {
            justify-content: center;
            text-align: center;
    
            a:not(:first-of-type) {
                margin-left: 2rem;
            }
        }
    }
}

// Forms
// View Form
.form-wrapper {
    width: 100%;

    .form-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .transaction-notice {
            span {
                font-weight: 700;
            }
        }
    }
}

.form-section {
    ul {
        padding-left: 0;
    }
}

// Modals
.modal {
    .modal-header {
        display: block;

        .close {
            color: $secondaryColor;
        }

        .modal-title {
            width: 100%;
        }
    
        .small {
            width: 100%;
        }
    }
}

.db-card {
    .db-card-header {
        width: 100%;
        text-align: left;

        .db-card-title {
            color: $secondaryColor;
            font-weight: 700;

            .btn-accordion {
                text-transform: uppercase;
            }
        }
    }

    .collapse {
        width: 100%;

        .db-card-body {
            width: 100%;
            text-align: left;
            color: $secondaryColor;
            padding-left: 4rem;
            display: flex;
            align-items: center;
        }
    }
}
