// @media only screen and (max-width: 1920px){}
// @media only screen and (max-width: 1680px){}
// @media only screen and (max-width: 1366px){}
// @media only screen and (max-width: 1199px){}
@media only screen and (max-width: 991px){
    .status-box {
        display: block;
    }

    .pr-circle {
        margin: 0 auto 0.5rem;
    }
}

@media only screen and (max-width: 767px){
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
        &.active{
            margin-left: 0 !important;
        }

        ul{
            li{
                a{
                    span{
                            display: block
                    }
                }
            }
          }
    }

    #sidebarCollapse{
        span{
            display: none;
        }
    }
}
// @media only screen and (max-width: 575px){}
// @media only screen and (max-width: 360px){}
