// @media only screen and (max-width: 1920px){}
// @media only screen and (max-width: 1680px){}
// @media only screen and (max-width: 1366px){}
@media only screen and (max-width: 1199px){
    .form-wrapper .form-section.purchase-contact {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .form-wrapper .form-section {
        display: block !important;
    }

    .buttons {
        margin: 1rem auto;
    }

    .status-box {
        display: block;
    }

    .pr-circle {
        margin: 0 auto 0.5rem;
    }
}

@media only screen and (max-width: 767px) {
    #sidebar {
        text-align: center;
        min-width: 270px;
        max-width: 270px;

        &.active {
            margin-left: -150px;

        }
    }

    #sidebarCollapse{
        span{
            display: none;
        }
    }
}
@media only screen and (max-width: 575px){
    .padding-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pt {
        padding-top: 1rem;
    }

    .pb {
        padding-bottom: 1rem;
    }

    .build-section {
        padding: 1rem;
    }
}

// @media only screen and (max-width: 360px){}
