@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$primaryColor: #181924;
$secondaryColor: #fff;
$sidebarBackground: #2a2b36;
$editButton: #2586e7;
$facebook: #4267b2;
$dribble: #7289da;
$youtube: #ff0000;
$github: #333;
$google: #34a853;
$builderBlue: #7eb6da;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;
$cream: #fffdd0;

// Cards
$cardBg: #eee;

// Headers
$headerBG: url(/images/BGimage.png);
$headerText: #fff;

// Convert fixed units into rem
@function rem($unit) {
  @return calc($unit / 16) + rem;
}

@function em($unit) {
  @return ($unit / 16) + em;
}

@function ls($unit) {
  @return ($unit / 16) + em;
}

@function fweight($weight) {
  $weightArray: (
    "light": 300,
    "regular": regular,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "xbold": 800,
    "xxbold": 900,
  );

  @return map-get($weightArray, $weight);
}

// workaround to be able to use modern CSS functions in a depreciated version of sass
@function css-function($function, $values...) {
  @return $function + unquote("(") + $values + unquote(")");
}

// workaround to be able to use modern CSS functions in a depreciated version of sass - Min
@function css-min($values...) {
  @return css-function(min, $values);
}

// workaround to be able to use modern CSS functions in a depreciated version of sass - Max
@function css-max($values...) {
  @return css-function(max, $values);
}

// workaround to be able to use modern CSS functions in a depreciated version of sass - Clamp
@function css-clamp($values...) {
  @return css-function(clamp, $values);
}

// mixin for screen readers
@mixin visually-hidden() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin visually-hidden-focusable() {
  &:not(:focus):not(:focus-within) {
    @include visually-hidden();
  }
}

// project variables
$font-1: source-sans-3, sans-serif;
