// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


// User Profile
body{
    background: $background;
    color: $primaryText;
}
.c-dark-theme .card{
    background: $cardBg;
    border: 1px solid white;
}

.card-header{
    background: $headerBG;
    background-position:center;
    background-size: cover;
    color: $headerText;
}
.c-dark-theme a{
    color: $primaryText;
}

.fas.fa-plus{
    font-size: 10rem;
}

.title{
    text-transform: uppercase;
    font-size:1.5rem;
    letter-spacing: .7px;
}

/* Button */
.btn-mot{
    text-transform:uppercase;
    width:100%;
    border: 1px solid #000000;
    color:$primaryText;
}
.btn-mot-invert{
    text-transform:uppercase;
    border: 1px solid #FFF;
    color:#FFF;
}
.btn-view{
    text-transform:uppercase;
    width:100%;
    border: 1px solid #5342e7;
}
.btn-edit{
    text-transform:uppercase;
    width:100%;
    border: 1px solid #2586e7;
}
.btn-kill{
    text-transform:uppercase;
    width:100%;
    border: 1px solid #d16767;
    background: transparent;
    color:$primaryText;
}
.btn-link{
    border: 1px solid #d8d7d7;
}
.btn-comment{
    text-transform:uppercase;
    border: 1px solid #000000;
    color:$primaryText;
    background:none;
}
.btn-details{
    text-transform:uppercase;
    border: 1px solid #2586e7;
    background:none;
}
.btn-cover{
    text-transform:uppercase;
    border: 1px solid white;
}

.btn-mot:hover{
    border: 1px solid #424242;
    color:#696969;
}
.btn-mot-invert:hover{
    text-transform:uppercase;
    color:#696969;
}
.btn-view:hover{
    border: 1px solid #3b2fa4;
}
.btn-edit:hover{
    border: 1px solid #1b5c9e;
}
.btn-kill:hover{
    border: 1px solid #854242;
}
.btn-link:hover{
    border: 1px solid #636262;
    color:#cfcfcf;
    text-decoration: none;
}
.btn-comment:hover{
    border: 1px solid #424242;
    color:#696969;
}
.btn-details:hover{
    border: 1px solid #035fbb;
    text-decoration: none;
}
.btn-cover:hover{
    border: 1px solid rgb(150, 149, 149);
    text-decoration: none;
}

/* Events */
.c-dark-theme .form-control{
    border: 1px solid black;
}
.form-check-label{
    color:$primaryText;
}
.card,.card-body{
    color:$primaryText;
}
/* Users */
.c-dark-theme .form-control, .form-control::placeholder{
    color:$primaryText;
}
/* Achievements */
.c-dark-theme .form-control:focus{
    color:black;
}

/* Datatables */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
    color:white;
}

/* Nav-Link */
.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover, .c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle{transition:0.5s ease-in-out;}
.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover, .c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle:hover{
    background: rgb(117,166,215);
    background: radial-gradient(circle, rgba(117,166,215,1) 0%, rgba(93,134,219,1) 20%, rgba(70,101,157,1) 40%, rgba(35,52,84,1) 60%, rgba(19,28,45,1) 80%, rgba(1,2,3,1) 100%);
}
/* General */
.divider{
    width:75%;
    background:white;
}

/* Side Footer */
.sideFooter{
    padding: 5%;
}
.fab.fa-facebook:hover{
    color:white;
}
.fab.fa-discord:hover{
    color:white;
}
.fab.fa-youtube:hover{
    color:white;
}
#facebookLi:hover{
    background: #3b5998;
}
#discordLi:hover{
    background: #7289da;
}
#youtubeLi:hover{
    background: #ff0000;
}
