// Variables
@import 'variables';

@import 'responsive';

// Global
@import 'global';
@import 'sidebar';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Parts Run
.part-run-image {
  margin: 0 auto 2rem;
}

.purchase-contact {
 .btn-purchase {
  i {
    margin-right: 1rem;
  }
 } 
}

// About Page
ul.links {
  list-style-type: none;
  padding-left: 0;

  li {
    padding: 0.5rem;

    i {
      margin-right: 1rem;
    }
  }
}




// Old Styling
@media only screen and (max-width: 400px) {
  .oauth-buttons a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

.c-dark-theme a {
  color: #000;
}

.dropdown-item .fas {
  margin-right: 8px;
}

.fas.fa-plus {
  font-size: 10rem;
}

.title {
  text-transform: uppercase;
  font-size: calc(1.5rem + 0.3vw);
  letter-spacing: 0.7px;
}

// .far.fa-question-circle.fa-2x,
// .fab.fa-facebook,
// .fab.fa-discord,
// .fab.fa-youtube {
//   color: #fff;
// }

/* Global CSS */
.c-sidebar-nav-link,
.c-sidebar-nav-item:hover {
  transition: 0.3s all;
}

/* Login */
.oauth-buttons a {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Events */
.c-dark-theme .form-control {
  color: #000000 !important;
  border: 1px solid #000000 !important;
}
.c-dark-theme .form-control::-moz-placeholder {
  color: #444 !important;
}
.c-dark-theme .form-control:-ms-input-placeholder {
  color: #444 !important;
}
.c-dark-theme .form-control::placeholder {
  color: #444 !important;
}

/* Datatables */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
}

/* Nav-Link */
.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover,
.c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle {
  transition: 0.5s ease-in-out;
}

.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover,
.c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #75a6d7;
  background: radial-gradient(circle, #75a6d7 0%, #5d86db 20%, #46659d 40%, #233454 60%, #131c2d 80%, #010203 100%);
}

/* General */
.sub {
  padding: 0.5%;
}

.c-dark-theme select.form-control option {
  background-color: #ffffff !important;
}

.c-dark-theme .custom-select {
  color: black;
}

/* User */
.new-award .form-control {
  height: 40px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.fas.fa-trophy.fa-fw {
  width: 1.25rem;
}

/* Buttons */
a.btn-header-primary {
  color: #fff;
  background: transparent;
  border: 1px solid #9561e2 !important;
  padding: 10px 20px;
}

a.btn-header-primary:hover,
a.btn-header-primary:focus {
  background: #9561e2;
  color: #fff;
}

a.btn-header-secondary {
  color: #fff;
  background: #9561e2;
  border: 1px solid #9561e2 !important;
  padding: 10px 20px;
}

a.btn-header-secondary:hover,
a.btn-header-secondary:focus {
  background: transparent;
  color: #fff;
}

.vue-map-container {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gmap-marker {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    color: #000;
}

// Admin
  // Memebers Index Table
  .dataTables_wrapper {
    .dt-buttons {
      .dt-button {
        width: fit-content;
        padding: 10px 20px;
        background: transparent;
        color: $white;
        transition: 0.5s all;
      }

      .buttons-export:hover {
        background: $white;
        color: $black;
      }

      .buttons-print:hover {
        background: #1b5c9e;
        color: $white;
      }

      .buttons-reload:hover {
        background: green;
        color: $white;
      }
    }

    .dataTables_filter {
      float: right;

      input {
        margin-left: 0.5rem;
        background: transparent;
        border: 1px solid $white;
        border-radius: 5px;
        color: $white;
      }
    }
  }

  #users-table {
    .badge {
      margin-right: 0.5rem
    }

    .buttons {
      width: 100%;

      a {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
      }

      form {
        width: 100%;
      }

      .btn-view {
        text-decoration: none;
        transition: 0.5s all;

        &:hover {
          text-decoration: none;
          background: $white;
          border-color: $white;
          
          i {
            color: $black;
          }
        }
      }

      .btn-edit {
        text-decoration: none;
        transition: 0.5s all;

        &:hover {
          text-decoration: none;
          background: #1b5c9e
        }
      }

      form {
        text-decoration: none;
        transition: 0.5s all;

        &:hover {
          text-decoration: none;
          background: #d16767;
        }
      }
    }
  }

  .dataTables_paginate {
    margin-top: 1rem;

    a {
      color: $white;
      margin: 0 1rem
    }

    span a {
      margin: 0.75rem 0;
      padding: 0.25rem;
      color: $white !important; 
    }
  }


  /*
    New Styling Methods - RH$primaryColor: #181924;
  */

.white-link {
  color: $white !important;
  text-decoration: none;
}

