@import "variables";

.btn {
    box-shadow: none !important;
}

.btn-mot {
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    box-shadow: none;
    font-family: "Michroma", sans-serif;

    &.btn-mot--light {
        background: $cardBg;
    }
}

.btn-motinfo {
    border: 0px;
    color: #fff;
    line-height: 40px;
    box-shadow: none;

    &:hover {
        color: #75a5d6;
    }
}

.btn-mot-invert {
    text-transform: uppercase;
    border: 1px solid #fff;
}
.btn-view {
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #5342e7;
}
.btn-edit {
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #2586e7 !important;
}
.btn-kill {
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #d16767;
    background: transparent;
    // color: $primaryText;
}
.btn-link {
    border: 1px solid #d8d7d7;
    display: inline-block;
}
.btn-comment {
    text-transform: uppercase;
    border: 1px solid #000000;
    // color: $primaryText;
    background: none;
}
.btn-details {
    text-transform: uppercase;
    border: 1px solid #2586e7;
    background: none;
}
.btn-cover {
    text-transform: uppercase;
    border: 1px solid white;
    display: inline-block;
}

.btn-mot:hover {
    border: 1px solid #424242;
    color: #696969;
}
.btn-mot-invert:hover {
    text-transform: uppercase;
    color: #696969;
}
.btn-view:hover {
    border: 1px solid #3b2fa4;
}
.btn-edit:hover {
    border: 1px solid #1b5c9e;
}
.btn-kill:hover {
    border: 1px solid #854242;
}
.btn-link:hover {
    border: 1px solid #636262;
    color: #cfcfcf;
    text-decoration: none;
}
.btn-comment:hover {
    border: 1px solid #424242;
    color: #696969;
}
.btn-details:hover {
    border: 1px solid #035fbb;
    text-decoration: none;
}
.btn-cover:hover {
    border: 1px solid rgb(150, 149, 149);
    text-decoration: none;
}

.btn-motinfosub {
    border: 0px;
    color: #fff;
    // font-size: calc(0.6rem + 0.3vw);
    line-height: 40px;
}

.btn-motinfosub:hover {
    color: #a4b1d0;
}

.btn-motinfo,
.btn-motinfosub:focus {
    text-decoration: none;
    border: none;
    box-shadow: none !important;
}