@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap);
/** Bootstrap navbar fix (https://git.io/fADqW) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  video[autoplay] {
    visibility: hidden;
  }
}
body {
  font-family: source-sans-3, sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.618;
}

:where(h1, .h1) {
  line-height: 1.2;
}

:where(h2, .h2, h3, .h3) {
  line-height: 1.325;
}

:where(h4, .h4, h5, .h5) {
  line-height: 1.5;
}

table {
  border-collapse: collapse;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(img, picture) {
  max-width: 100%;
  display: block;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body,
:where(h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd) {
  margin: 0;
}

h1,
.h1 {
  font-size: 4.375rem;
}

h2,
.h2 {
  font-size: 3.125rem;
}

h3,
.h3 {
  font-size: 2.75rem;
}

h4,
.h4 {
  font-size: 2.125rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

li {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
}

.db-dark-theme {
  background: #181924;
  color: #fff;
}

.db-sidebar.wrapper {
  background: #2a2b36;
  color: #fff;
}

.db-wrapper {
  width: 100%;
  background: #181924;
}

.db-header {
  width: 100%;
  background: #2a2b36;
  color: #fff;
  min-height: 56px;
  display: flex;
}

.row.build-section {
  margin: 0;
}

.build-section {
  background: transparent;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.build-section.inner {
  padding: 1rem 0;
}
.build-section.inner:not(last-child) {
  margin-bottom: 2rem !important;
}
.build-section.outer {
  padding: 2rem 1rem;
}
.build-section .buttons.icon-text .btn-edit i,
.build-section .buttons.icon-text .btn-delete i,
.build-section .buttons.icon-text .btn-view i,
.build-section .buttons.icon-text .btn-create i {
  margin-right: 1rem;
}

.padding-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt {
  padding-top: 2rem;
}

.pb {
  padding-bottom: 2rem;
}

a,
a.p-link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s all;
  border-bottom: 1px solid transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover,
a.p-link:hover {
  color: #fff;
  text-decoration: none;
  border-color: #fff;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.db-mb-1 {
  margin-bottom: 1rem;
}

.db-mb-2 {
  margin-bottom: 2rem;
}

.db-mb-3 {
  margin-bottom: 3rem;
}

.db-mb-4 {
  margin-bottom: 4rem;
}

.db-mb-5 {
  margin-bottom: 5rem;
}

.db-mb-6 {
  margin-bottom: 6rem;
}

.db-mb-7 {
  margin-bottom: 7rem;
}

.db-mb-8 {
  margin-bottom: 8rem;
}

.db-mb-9 {
  margin-bottom: 9rem;
}

.db-mb-10 {
  margin-bottom: 10rem;
}

.db-mb-11 {
  margin-bottom: 11rem;
}

.db-mb-12 {
  margin-bottom: 12rem;
}

.db-mb-13 {
  margin-bottom: 13rem;
}

.db-mb-14 {
  margin-bottom: 14rem;
}

.db-mb-15 {
  margin-bottom: 15rem;
}

.db-mb-16 {
  margin-bottom: 16rem;
}

.db-mb-17 {
  margin-bottom: 17rem;
}

.db-mb-18 {
  margin-bottom: 18rem;
}

.db-mb-19 {
  margin-bottom: 19rem;
}

.db-mb-20 {
  margin-bottom: 20rem;
}

.db-mt-1 {
  margin-top: 1rem;
}

.db-mt-2 {
  margin-top: 2rem;
}

.db-mt-3 {
  margin-top: 3rem;
}

.db-mt-4 {
  margin-top: 4rem;
}

.db-mt-5 {
  margin-top: 5rem;
}

.db-mt-6 {
  margin-top: 6rem;
}

.db-mt-7 {
  margin-top: 7rem;
}

.db-mt-8 {
  margin-top: 8rem;
}

.db-mt-9 {
  margin-top: 9rem;
}

.db-mt-10 {
  margin-top: 10rem;
}

.db-mt-11 {
  margin-top: 11rem;
}

.db-mt-12 {
  margin-top: 12rem;
}

.db-mt-13 {
  margin-top: 13rem;
}

.db-mt-14 {
  margin-top: 14rem;
}

.db-mt-15 {
  margin-top: 15rem;
}

.db-mt-16 {
  margin-top: 16rem;
}

.db-mt-17 {
  margin-top: 17rem;
}

.db-mt-18 {
  margin-top: 18rem;
}

.db-mt-19 {
  margin-top: 19rem;
}

.db-mt-20 {
  margin-top: 20rem;
}

.db-ml-1 {
  margin-left: 1rem;
}

.db-ml-2 {
  margin-left: 2rem;
}

.db-ml-3 {
  margin-left: 3rem;
}

.db-ml-4 {
  margin-left: 4rem;
}

.db-ml-5 {
  margin-left: 5rem;
}

.db-ml-6 {
  margin-left: 6rem;
}

.db-ml-7 {
  margin-left: 7rem;
}

.db-ml-8 {
  margin-left: 8rem;
}

.db-ml-9 {
  margin-left: 9rem;
}

.db-ml-10 {
  margin-left: 10rem;
}

.db-ml-11 {
  margin-left: 11rem;
}

.db-ml-12 {
  margin-left: 12rem;
}

.db-ml-13 {
  margin-left: 13rem;
}

.db-ml-14 {
  margin-left: 14rem;
}

.db-ml-15 {
  margin-left: 15rem;
}

.db-ml-16 {
  margin-left: 16rem;
}

.db-ml-17 {
  margin-left: 17rem;
}

.db-ml-18 {
  margin-left: 18rem;
}

.db-ml-19 {
  margin-left: 19rem;
}

.db-ml-20 {
  margin-left: 20rem;
}

.db-mr-1 {
  margin-right: 1rem;
}

.db-mr-2 {
  margin-right: 2rem;
}

.db-mr-3 {
  margin-right: 3rem;
}

.db-mr-4 {
  margin-right: 4rem;
}

.db-mr-5 {
  margin-right: 5rem;
}

.db-mr-6 {
  margin-right: 6rem;
}

.db-mr-7 {
  margin-right: 7rem;
}

.db-mr-8 {
  margin-right: 8rem;
}

.db-mr-9 {
  margin-right: 9rem;
}

.db-mr-10 {
  margin-right: 10rem;
}

.db-mr-11 {
  margin-right: 11rem;
}

.db-mr-12 {
  margin-right: 12rem;
}

.db-mr-13 {
  margin-right: 13rem;
}

.db-mr-14 {
  margin-right: 14rem;
}

.db-mr-15 {
  margin-right: 15rem;
}

.db-mr-16 {
  margin-right: 16rem;
}

.db-mr-17 {
  margin-right: 17rem;
}

.db-mr-18 {
  margin-right: 18rem;
}

.db-mr-19 {
  margin-right: 19rem;
}

.db-mr-20 {
  margin-right: 20rem;
}

.db-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.db-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.db-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.db-my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.db-my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.db-my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.db-my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.db-my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.db-my-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.db-my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.db-my-11 {
  margin-top: 11rem;
  margin-bottom: 11rem;
}

.db-my-12 {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.db-my-13 {
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.db-my-14 {
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.db-my-15 {
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.db-my-16 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.db-my-17 {
  margin-top: 17rem;
  margin-bottom: 17rem;
}

.db-my-18 {
  margin-top: 18rem;
  margin-bottom: 18rem;
}

.db-my-19 {
  margin-top: 19rem;
  margin-bottom: 19rem;
}

.db-my-20 {
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.db-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.db-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.db-mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.db-mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.db-mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.db-mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.db-mx-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.db-mx-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.db-mx-9 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.db-mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.db-mx-11 {
  margin-left: 11rem;
  margin-right: 11rem;
}

.db-mx-12 {
  margin-left: 12rem;
  margin-right: 12rem;
}

.db-mx-13 {
  margin-left: 13rem;
  margin-right: 13rem;
}

.db-mx-14 {
  margin-left: 14rem;
  margin-right: 14rem;
}

.db-mx-15 {
  margin-left: 15rem;
  margin-right: 15rem;
}

.db-mx-16 {
  margin-left: 16rem;
  margin-right: 16rem;
}

.db-mx-17 {
  margin-left: 17rem;
  margin-right: 17rem;
}

.db-mx-18 {
  margin-left: 18rem;
  margin-right: 18rem;
}

.db-mx-19 {
  margin-left: 19rem;
  margin-right: 19rem;
}

.db-mx-20 {
  margin-left: 20rem;
  margin-right: 20rem;
}

.db-pb-1 {
  padding-bottom: 1rem;
}

.db-pb-2 {
  padding-bottom: 2rem;
}

.db-pb-3 {
  padding-bottom: 3rem;
}

.db-pb-4 {
  padding-bottom: 4rem;
}

.db-pb-5 {
  padding-bottom: 5rem;
}

.db-pb-6 {
  padding-bottom: 6rem;
}

.db-pb-7 {
  padding-bottom: 7rem;
}

.db-pb-8 {
  padding-bottom: 8rem;
}

.db-pb-9 {
  padding-bottom: 9rem;
}

.db-pb-10 {
  padding-bottom: 10rem;
}

.db-pb-11 {
  padding-bottom: 11rem;
}

.db-pb-12 {
  padding-bottom: 12rem;
}

.db-pb-13 {
  padding-bottom: 13rem;
}

.db-pb-14 {
  padding-bottom: 14rem;
}

.db-pb-15 {
  padding-bottom: 15rem;
}

.db-pb-16 {
  padding-bottom: 16rem;
}

.db-pb-17 {
  padding-bottom: 17rem;
}

.db-pb-18 {
  padding-bottom: 18rem;
}

.db-pb-19 {
  padding-bottom: 19rem;
}

.db-pb-20 {
  padding-bottom: 20rem;
}

.db-pt-1 {
  padding-top: 1rem;
}

.db-pt-2 {
  padding-top: 2rem;
}

.db-pt-3 {
  padding-top: 3rem;
}

.db-pt-4 {
  padding-top: 4rem;
}

.db-pt-5 {
  padding-top: 5rem;
}

.db-pt-6 {
  padding-top: 6rem;
}

.db-pt-7 {
  padding-top: 7rem;
}

.db-pt-8 {
  padding-top: 8rem;
}

.db-pt-9 {
  padding-top: 9rem;
}

.db-pt-10 {
  padding-top: 10rem;
}

.db-pt-11 {
  padding-top: 11rem;
}

.db-pt-12 {
  padding-top: 12rem;
}

.db-pt-13 {
  padding-top: 13rem;
}

.db-pt-14 {
  padding-top: 14rem;
}

.db-pt-15 {
  padding-top: 15rem;
}

.db-pt-16 {
  padding-top: 16rem;
}

.db-pt-17 {
  padding-top: 17rem;
}

.db-pt-18 {
  padding-top: 18rem;
}

.db-pt-19 {
  padding-top: 19rem;
}

.db-pt-20 {
  padding-top: 20rem;
}

.db-pl-1 {
  padding-left: 1rem;
}

.db-pl-2 {
  padding-left: 2rem;
}

.db-pl-3 {
  padding-left: 3rem;
}

.db-pl-4 {
  padding-left: 4rem;
}

.db-pl-5 {
  padding-left: 5rem;
}

.db-pl-6 {
  padding-left: 6rem;
}

.db-pl-7 {
  padding-left: 7rem;
}

.db-pl-8 {
  padding-left: 8rem;
}

.db-pl-9 {
  padding-left: 9rem;
}

.db-pl-10 {
  padding-left: 10rem;
}

.db-pl-11 {
  padding-left: 11rem;
}

.db-pl-12 {
  padding-left: 12rem;
}

.db-pl-13 {
  padding-left: 13rem;
}

.db-pl-14 {
  padding-left: 14rem;
}

.db-pl-15 {
  padding-left: 15rem;
}

.db-pl-16 {
  padding-left: 16rem;
}

.db-pl-17 {
  padding-left: 17rem;
}

.db-pl-18 {
  padding-left: 18rem;
}

.db-pl-19 {
  padding-left: 19rem;
}

.db-pl-20 {
  padding-left: 20rem;
}

.db-pr-1 {
  padding-right: 1rem;
}

.db-pr-2 {
  padding-right: 2rem;
}

.db-pr-3 {
  padding-right: 3rem;
}

.db-pr-4 {
  padding-right: 4rem;
}

.db-pr-5 {
  padding-right: 5rem;
}

.db-pr-6 {
  padding-right: 6rem;
}

.db-pr-7 {
  padding-right: 7rem;
}

.db-pr-8 {
  padding-right: 8rem;
}

.db-pr-9 {
  padding-right: 9rem;
}

.db-pr-10 {
  padding-right: 10rem;
}

.db-pr-11 {
  padding-right: 11rem;
}

.db-pr-12 {
  padding-right: 12rem;
}

.db-pr-13 {
  padding-right: 13rem;
}

.db-pr-14 {
  padding-right: 14rem;
}

.db-pr-15 {
  padding-right: 15rem;
}

.db-pr-16 {
  padding-right: 16rem;
}

.db-pr-17 {
  padding-right: 17rem;
}

.db-pr-18 {
  padding-right: 18rem;
}

.db-pr-19 {
  padding-right: 19rem;
}

.db-pr-20 {
  padding-right: 20rem;
}

.db-p-1 {
  padding: 1rem;
}

.db-p-2 {
  padding: 2rem;
}

.db-p-3 {
  padding: 3rem;
}

.db-p-4 {
  padding: 4rem;
}

.db-p-5 {
  padding: 5rem;
}

.db-p-6 {
  padding: 6rem;
}

.db-p-7 {
  padding: 7rem;
}

.db-p-8 {
  padding: 8rem;
}

.db-p-9 {
  padding: 9rem;
}

.db-p-10 {
  padding: 10rem;
}

.db-p-11 {
  padding: 11rem;
}

.db-p-12 {
  padding: 12rem;
}

.db-p-13 {
  padding: 13rem;
}

.db-p-14 {
  padding: 14rem;
}

.db-p-15 {
  padding: 15rem;
}

.db-p-16 {
  padding: 16rem;
}

.db-p-17 {
  padding: 17rem;
}

.db-p-18 {
  padding: 18rem;
}

.db-p-19 {
  padding: 19rem;
}

.db-p-20 {
  padding: 20rem;
}

.db-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.db-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.db-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.db-py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.db-py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.db-py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.db-py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.db-py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.db-py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.db-py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.db-py-11 {
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.db-py-12 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.db-py-13 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.db-py-14 {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.db-py-15 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.db-py-16 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.db-py-17 {
  padding-top: 17rem;
  padding-bottom: 17rem;
}

.db-py-18 {
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.db-py-19 {
  padding-top: 19rem;
  padding-bottom: 19rem;
}

.db-py-20 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.db-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.db-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.db-px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.db-px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.db-px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.db-px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.db-px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.db-px-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.db-px-9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.db-px-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.db-px-11 {
  padding-left: 11rem;
  padding-right: 11rem;
}

.db-px-12 {
  padding-left: 12rem;
  padding-right: 12rem;
}

.db-px-13 {
  padding-left: 13rem;
  padding-right: 13rem;
}

.db-px-14 {
  padding-left: 14rem;
  padding-right: 14rem;
}

.db-px-15 {
  padding-left: 15rem;
  padding-right: 15rem;
}

.db-px-16 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.db-px-17 {
  padding-left: 17rem;
  padding-right: 17rem;
}

.db-px-18 {
  padding-left: 18rem;
  padding-right: 18rem;
}

.db-px-19 {
  padding-left: 19rem;
  padding-right: 19rem;
}

.db-px-20 {
  padding-left: 20rem;
  padding-right: 20rem;
}

.divider {
  width: 95%;
  background: #fff;
  height: 1px;
  margin: 0 auto;
}

.db-navbar {
  background: #2a2b36;
  color: #fff;
  padding: 2rem 4rem;
}
.db-navbar button {
  background: transparent;
  border: 1px solid #3490dc;
  transition: 0.5s all;
}
.db-navbar button i {
  margin-right: 0;
  color: #fff;
}
.db-navbar button:hover {
  background: #3490dc;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.image-wrapper {
  position: relative;
  padding-bottom: 70%;
}
.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.image-wrapper.landscape {
  position: relative;
  padding-bottom: 18%;
}
.image-wrapper.landscape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header-image img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.comment-card {
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.comment-card .comment {
  width: 100%;
  margin: 1rem 0;
  border: 2px solid #7eb6da;
}
.comment-card .comment .comment-header {
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
}
.comment-card .comment .comment-header i {
  margin-left: 0.5rem;
}
.comment-card .comment .comment-header h5 {
  margin-bottom: 0;
}
.comment-card .comment .comment-body {
  width: 100%;
  padding: 1rem;
  position: relative;
}
.comment-card .comment .comment-body .reactions {
  position: absolute;
  right: 1rem;
  bottom: 3rem;
}
.comment-card .comment .comment-body textarea {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

ul.top-nav {
  padding: 0.5rem 0;
}
ul.top-nav li.nav-item {
  padding: 0 1rem;
}
ul.top-nav li.nav-item a {
  transition: 0.5s all;
}
ul.top-nav li.nav-item a i {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}
.buttons a:nth-child(2) {
  margin-left: 1rem;
}
.buttons a:nth-child(3) {
  margin-left: 1rem;
}

ul.blank-ul {
  list-style-type: none;
  padding-left: 0;
}

.table-responsive table {
  background: transparent;
  color: #fff;
}
.table-responsive table th {
  vertical-align: middle;
  padding: 0.75rem;
}
.table-responsive table tbody tr {
  transition: 0.5s all;
}
.table-responsive table tbody tr:hover {
  background: transparent;
  color: #fff;
  opacity: 0.75;
}
.table-responsive table .action-buttons {
  justify-content: center;
  text-align: center;
}
.table-responsive table .action-buttons a:not(:first-of-type) {
  margin-left: 2rem;
}

.form-wrapper {
  width: 100%;
}
.form-wrapper .form-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-wrapper .form-section .transaction-notice span {
  font-weight: 700;
}

.form-section ul {
  padding-left: 0;
}

.modal .modal-header {
  display: block;
}
.modal .modal-header .close {
  color: #fff;
}
.modal .modal-header .modal-title {
  width: 100%;
}
.modal .modal-header .small {
  width: 100%;
}

.db-card .db-card-header {
  width: 100%;
  text-align: left;
}
.db-card .db-card-header .db-card-title {
  color: #fff;
  font-weight: 700;
}
.db-card .db-card-header .db-card-title .btn-accordion {
  text-transform: uppercase;
}
.db-card .collapse {
  width: 100%;
}
.db-card .collapse .db-card-body {
  width: 100%;
  text-align: left;
  color: #fff;
  padding-left: 4rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .padding-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .build-section.outer {
    padding: 1rem 0;
  }
}
@media only screen and (max-width: 575px) {
  h4 {
    font-size: 1.375rem;
  }

  .padding-container {
    padding-left: 0;
    padding-right: 0;
  }

  .pt {
    padding-top: 0;
  }

  .pb {
    padding-bottom: 0;
  }

  .db-navbar {
    padding: 1rem;
  }
}
/** Bootstrap navbar fix (https://git.io/fADqW) */
#sidebar {
  min-width: 270px;
  max-width: 270px;
  height: 100vh;
  background: #2a2b36;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
}
#sidebar a {
  width: 100%;
  text-decoration: none;
  border: none;
}
#sidebar a:hover {
  text-decoration: none;
}
#sidebar .logo {
  padding: 0.5rem 1rem;
}
#sidebar .large-menu-title {
  display: block;
}
#sidebar .small-menu-title {
  display: none;
}
#sidebar.active {
  min-width: 150px;
  max-width: 150px;
  text-align: center;
}
#sidebar.active .large-menu-title {
  display: none;
}
#sidebar.active .small-menu-title {
  display: block;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-title {
  padding: 0 0.5rem;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-title:after {
  display: none;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link {
  display: block;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin: 0;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link span {
  margin: 0 auto;
  display: block;
}
#sidebar.active .logo {
  padding: 10px 0;
  transition: 0.5s all;
}
#sidebar.active .footer {
  display: none;
  transition: 0.5s all;
  padding: 0 0.5rem;
}
#sidebar .footer {
  padding: 0 1rem;
}
#sidebar ul.sidebar-nav {
  padding: 0;
}
#sidebar ul.sidebar-nav li.sidebar-nav-title {
  padding: 0 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s all;
  position: relative;
}
#sidebar ul.sidebar-nav li.sidebar-nav-title::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free", sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
  margin-left: 0.5rem;
  position: absolute;
  right: 10%;
}
#sidebar ul.sidebar-nav li.sidebar-nav-title:hover {
  text-decoration: underline;
}
#sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link {
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  color: #fff;
  background: transparent;
  transition: 0.5s all;
}
#sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link span {
  font-size: 1rem;
}
#sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link:hover {
  background: #5d86db;
}
#sidebar ul.sidebar-nav .divider {
  width: 80%;
  background: #fff;
  height: 2px;
  display: flex;
  margin: 1rem auto;
}
#sidebar .social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
#sidebar .social-icons .social-list-item {
  width: 100%;
}
#sidebar .social-icons .social-list-item a {
  transition: 0.5s all;
}
#sidebar .social-icons .social-list-item .facebook:hover {
  color: #4267b2;
}
#sidebar .social-icons .social-list-item .discord:hover {
  color: #7289da;
}
#sidebar .social-icons .social-list-item .youtube:hover {
  color: #ff0000;
}

@media only screen and (max-width: 1199px) {
  .form-wrapper .form-section.purchase-contact {
    display: block;
  }

  .table .status-class .status-box span {
    display: none;
  }

  .pli-box {
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .form-wrapper .form-section {
    display: block !important;
  }

  .buttons {
    margin: 1rem auto;
  }

  .status-box {
    display: block;
  }

  .pr-circle {
    margin: 0 auto 0.5rem;
  }

  .user-stats-box {
    margin: 0;
    padding: 0;
  }

  .achievement-col-fields {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  #sidebar {
    text-align: center;
    min-width: 270px;
    max-width: 270px;
  }
  #sidebar.active {
    margin-left: -150px;
  }

  #sidebarCollapse span {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .build-section.login {
    padding: 1rem 0;
  }

  .oauth-button-group .btn-oauth {
    width: 100%;
  }
  .oauth-button-group .btn-oauth:not(last-child) {
    margin-bottom: 1rem;
  }

  .login-buttons button,
.login-buttons .btn-forgot {
    width: 100%;
  }
  .login-buttons button:not(last-child),
.login-buttons .btn-forgot:not(last-child) {
    margin-bottom: 1rem;
  }
}
.part-run-image {
  margin: 0 auto 2rem;
}

.purchase-contact .btn-purchase i {
  margin-right: 1rem;
}

.description-col p {
  background-color: transparent !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 1.125rem;
}

.form-control.interested {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.paid-col a.p-link {
  width: 100%;
}

.interest-shipped i {
  margin-left: auto;
}

ul.links {
  list-style-type: none;
  padding-left: 0;
}
ul.links li {
  padding: 0.5rem;
}
ul.links li i {
  margin-right: 1rem;
}

.profile-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.profile-title .pli-box-blank {
  border-radius: 25px;
  background: transparent;
  border: 1px solid #fff;
  padding: 0.75rem;
  display: flex;
  transition: 0.5s all;
}
.profile-title .pli-box-blank .btn-view {
  padding: 0;
  border: none;
}
.profile-title .pli-box-blank .btn-view::before {
  display: none;
}
.profile-title .pli-box-blank .btn-view:hover {
  background: transparent;
  color: #fff;
}
.profile-title .pli-box-blank::before {
  content: "\f019";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  margin-right: 0.5rem;
}
.profile-title .pli-box-blank:hover {
  background: #fff;
}
.profile-title .pli-box-blank:hover::before {
  color: #181924;
}
.profile-title .pli-box-blank:hover .btn-view {
  color: #181924;
}
.profile-title .pli-box-red {
  background: #e3342f;
  border-radius: 25px;
  padding: 0.75rem;
}

.user-table .buttons .btn-edit::before {
  margin-right: 1rem;
}

.stat-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}
.stat-group .user-stats-box {
  background: #fff;
  width: 100%;
}
.stat-group .user-stats-box .user-stat {
  padding: 1rem;
}

.user-photo-col .id-photo-button .buttons button.btn-edit::before {
  margin-right: 1rem;
}

.btn-standard.new-droid {
  display: block;
}
.btn-standard.new-droid i {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.my-droid-card {
  padding: 0.75rem;
  border: 1px solid transparent;
  transition: 0.5s all;
}
.my-droid-card:hover {
  border-color: #7eb6da;
}
.my-droid-card .droid-body-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.my-droid-card .droid-body-text i {
  font-size: 1.5rem;
}
.my-droid-card .droid-body-text .share,
.my-droid-card .droid-body-text .delete {
  max-width: 50px;
  cursor: pointer;
  transition: 0.5s all;
}
.my-droid-card .droid-body-text .share img,
.my-droid-card .droid-body-text .delete img {
  width: 100%;
}
.my-droid-card .droid-body-text .share:hover,
.my-droid-card .droid-body-text .delete:hover {
  opacity: 0.5;
}

.new-achievement .btn-edit i {
  margin-right: 1rem;
}

.achievements .buttons .btn-view::before {
  margin-right: 1rem;
}

.events .buttons .btn-view::before {
  margin-right: 1rem;
}

.col-left {
  justify-content: start;
}

.col-right {
  justify-content: flex-end;
}

.droid-view-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.droid-image-col {
  flex-direction: column;
}

.images-row {
  justify-content: space-evenly;
}

.droid-card .btn-standard:hover i {
  color: #fff;
}

.notes-box {
  border: 1px solid #fff;
}

@media only screen and (max-width: 1680px) {
  .stat-group {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1366px) {
  .stat-group {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1199px) {
  .stat-group {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0 3rem;
  }
  .stat-group .user-stats-box {
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 991px) {
  .stat-group {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0 1rem;
    width: 100%;
    padding: 0 1rem;
  }
  .stat-group .user-stats-box .user-stat {
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .stat-group {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    padding: 0 1rem;
    grid-gap: 0;
    row-gap: 0.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .profile-title {
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .oauth-buttons a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

.c-dark-theme a {
  color: #000;
}

.dropdown-item .fas {
  margin-right: 8px;
}

.title {
  text-transform: uppercase;
  font-size: calc(1.5rem + 0.3vw);
  letter-spacing: 0.7px;
}

/* Global CSS */
.c-sidebar-nav-link,
.c-sidebar-nav-item:hover {
  transition: 0.3s all;
}

/* Login */
.oauth-buttons a {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Events */
.c-dark-theme .form-control {
  color: #000000 !important;
  border: 1px solid #000000 !important;
}

.c-dark-theme .form-control::-moz-placeholder {
  color: #444 !important;
}

.c-dark-theme .form-control:-ms-input-placeholder {
  color: #444 !important;
}

.c-dark-theme .form-control::placeholder {
  color: #444 !important;
}

/* Datatables */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
}

/* Nav-Link */
.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover,
.c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle {
  transition: 0.5s ease-in-out;
}

.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover,
.c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #75a6d7;
  background: radial-gradient(circle, #75a6d7 0%, #5d86db 20%, #46659d 40%, #233454 60%, #131c2d 80%, #010203 100%);
}

/* General */
.sub {
  padding: 0.5%;
}

.c-dark-theme select.form-control option {
  background-color: #ffffff !important;
}

.c-dark-theme .custom-select {
  color: black;
}

/* User */
.new-award .form-control {
  height: 40px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

/* Buttons */
a.btn-header-primary {
  color: #fff;
  background: transparent;
  border: 1px solid #9561e2 !important;
  padding: 10px 20px;
}

a.btn-header-primary:hover,
a.btn-header-primary:focus {
  background: #9561e2;
  color: #fff;
}

a.btn-header-secondary {
  color: #fff;
  background: #9561e2;
  border: 1px solid #9561e2 !important;
  padding: 10px 20px;
}

a.btn-header-secondary:hover,
a.btn-header-secondary:focus {
  background: transparent;
  color: #fff;
}

.vue-map-container {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gmap-marker {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  color: #000;
}

.dataTables_wrapper .dt-buttons .dt-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  transition: 0.5s all;
}
.dataTables_wrapper .dt-buttons .buttons-export:hover {
  background: #fff;
  color: #000;
}
.dataTables_wrapper .dt-buttons .buttons-print:hover {
  background: #1b5c9e;
  color: #fff;
}
.dataTables_wrapper .dt-buttons .buttons-reload:hover {
  background: green;
  color: #fff;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

#users-table .badge {
  margin-right: 0.5rem;
}
#users-table .buttons {
  width: 100%;
}
#users-table .buttons a {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
#users-table .buttons form {
  width: 100%;
}
#users-table .buttons .btn-view {
  text-decoration: none;
  transition: 0.5s all;
}
#users-table .buttons .btn-view:hover {
  text-decoration: none;
  background: #fff;
  border-color: #fff;
}
#users-table .buttons .btn-view:hover i {
  color: #000;
}
#users-table .buttons .btn-edit {
  text-decoration: none;
  transition: 0.5s all;
}
#users-table .buttons .btn-edit:hover {
  text-decoration: none;
  background: #1b5c9e;
}
#users-table .buttons form {
  text-decoration: none;
  transition: 0.5s all;
}
#users-table .buttons form:hover {
  text-decoration: none;
  background: #d16767;
}

.dataTables_paginate {
  margin-top: 1rem;
}
.dataTables_paginate a {
  color: #fff;
  margin: 0 1rem;
}
.dataTables_paginate span a {
  margin: 0.75rem 0;
  padding: 0.25rem;
  color: #fff !important;
}

/*
    New Styling Methods - RH$primaryColor: #181924;
  */
.white-link {
  color: #fff !important;
  text-decoration: none;
}
