@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap);
/** Font Sizes */
.db-dark-theme {
  background: #181924;
  color: #fff;
}

.db-sidebar.wrapper {
  background: #2a2b36;
  color: #fff;
}

.db-wrapper {
  width: 100%;
  background: #181924;
}

.db-header {
  width: 100%;
  background: #2a2b36;
  color: #fff;
  min-height: 56px;
  display: flex;
}

.padding-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt {
  padding-top: 2rem;
}

.pb {
  padding-bottom: 2rem;
}

.bg-image {
  background: url(/images/BGimage.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-wrapper {
  display: none !important;
}

a,
a.p-link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s all;
  border-bottom: 1px solid transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover,
a.p-link:hover {
  color: #fff;
  text-decoration: none;
  border-color: #fff;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: calc((70 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc((50 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc((44 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc((34 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

h5 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc((20 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc((18 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

li {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc((16 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc((18 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.db-mt-1 {
  margin-top: 1rem;
}

.db-mt-2 {
  margin-top: 2rem;
}

.db-mt-3 {
  margin-top: 3rem;
}

.db-mt-4 {
  margin-top: 4rem;
}

.db-mb-1 {
  margin-bottom: 1rem;
}

.db-mb-2 {
  margin-bottom: 2rem;
}

.db-mb-3 {
  margin-bottom: 3rem;
}

.db-mb-4 {
  margin-bottom: 4rem;
}

.db-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.db-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.db-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.db-my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.divider {
  width: 95%;
  background: #fff;
  height: 1px;
  margin: 0 auto;
}

.build-section {
  background: transparent;
  border: 2px solid #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.build-section .buttons.icon-text .btn-edit i,
.build-section .buttons.icon-text .btn-delete i,
.build-section .buttons.icon-text .btn-view i,
.build-section .buttons.icon-text .btn-create i {
  margin-right: 1rem;
}

.db-navbar {
  background: #2a2b36;
  color: #fff;
  padding: 2rem 4rem;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.image-wrapper {
  position: relative;
  padding-bottom: 70%;
}
.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.image-wrapper.landscape {
  position: relative;
  padding-bottom: 18%;
}
.image-wrapper.landscape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header-image img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.comment-card {
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.comment-card .comment {
  width: 100%;
  margin: 1rem 0;
  border: 2px solid #7eb6da;
}
.comment-card .comment .comment-header {
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
}
.comment-card .comment .comment-header i {
  margin-left: 0.5rem;
}
.comment-card .comment .comment-header h5 {
  margin-bottom: 0;
}
.comment-card .comment .comment-body {
  width: 100%;
  padding: 1rem;
  position: relative;
}
.comment-card .comment .comment-body .reactions {
  position: absolute;
  right: 1rem;
  bottom: 3rem;
}
.comment-card .comment .comment-body textarea {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

ul.top-nav {
  padding: 0.5rem 0;
}
ul.top-nav li.nav-item {
  padding: 0 1rem;
}
ul.top-nav li.nav-item a {
  transition: 0.5s all;
}
ul.top-nav li.nav-item a i {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}
.buttons a:nth-child(2) {
  margin-left: 1rem;
}
.buttons a:nth-child(3) {
  margin-left: 1rem;
}

ul.blank-ul {
  list-style-type: none;
  padding-left: 0;
}

.table-responsive table {
  background: transparent;
  color: #fff;
}
.table-responsive table th {
  vertical-align: middle;
  padding: 0.75rem;
}
.table-responsive table tbody tr {
  transition: 0.5s all;
}
.table-responsive table tbody tr:hover {
  background: transparent;
  color: #fff;
  opacity: 0.75;
}
.table-responsive table .action-buttons {
  justify-content: center;
  text-align: center;
}
.table-responsive table .action-buttons a:not(:first-of-type) {
  margin-left: 2rem;
}

.form-wrapper {
  width: 100%;
}
.form-wrapper .form-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-wrapper .form-section .transaction-notice span {
  font-weight: 700;
}

.form-section ul {
  padding-left: 0;
}

.modal .modal-header {
  display: block;
}
.modal .modal-header .close {
  color: #fff;
}
.modal .modal-header .modal-title {
  width: 100%;
}
.modal .modal-header .small {
  width: 100%;
}

.db-card .db-card-header {
  width: 100%;
  text-align: left;
}
.db-card .db-card-header .db-card-title {
  color: #fff;
  font-weight: 700;
}
.db-card .db-card-header .db-card-title .btn-accordion {
  text-transform: uppercase;
}
.db-card .collapse {
  width: 100%;
}
.db-card .collapse .db-card-body {
  width: 100%;
  text-align: left;
  color: #fff;
  padding-left: 4rem;
  display: flex;
  align-items: center;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  height: 100vh;
  background: #2a2b36;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
}
#sidebar a {
  width: 100%;
  text-decoration: none;
  border: none;
}
#sidebar a:hover {
  text-decoration: none;
}
#sidebar .logo {
  padding: 0.5rem 1rem;
}
#sidebar .large-menu-title {
  display: block;
}
#sidebar .small-menu-title {
  display: none;
}
#sidebar.active {
  min-width: 150px;
  max-width: 150px;
  text-align: center;
}
#sidebar.active .large-menu-title {
  display: none;
}
#sidebar.active .small-menu-title {
  display: block;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-title {
  padding: 0 0.5rem;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-title:after {
  display: none;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link {
  display: block;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin: 0;
}
#sidebar.active ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link span {
  margin: 0 auto;
  display: block;
}
#sidebar.active .logo {
  padding: 10px 0;
  transition: 0.5s all;
}
#sidebar.active .footer {
  display: none;
  transition: 0.5s all;
  padding: 0 0.5rem;
}
#sidebar .footer {
  padding: 0 1rem;
}
#sidebar ul.sidebar-nav {
  padding: 0;
}
#sidebar ul.sidebar-nav li.sidebar-nav-title {
  padding: 0 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s all;
  position: relative;
}
#sidebar ul.sidebar-nav li.sidebar-nav-title::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free", sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
  margin-left: 0.5rem;
  position: absolute;
  right: 10%;
}
#sidebar ul.sidebar-nav li.sidebar-nav-title:hover {
  text-decoration: underline;
}
#sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link {
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  color: #fff;
  background: transparent;
  transition: 0.5s all;
}
#sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link span {
  font-size: 1rem;
}
#sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link:hover {
  background: #5d86db;
}
#sidebar ul.sidebar-nav .divider {
  width: 80%;
  background: #fff;
  height: 2px;
  display: flex;
  margin: 1rem auto;
}
#sidebar .social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
#sidebar .social-icons .social-list-item {
  width: 100%;
}
#sidebar .social-icons .social-list-item a {
  transition: 0.5s all;
}
#sidebar .social-icons .social-list-item .facebook:hover {
  color: #4267B2;
}
#sidebar .social-icons .social-list-item .dribble:hover {
  color: #7289da;
}
#sidebar .social-icons .social-list-item .youtube:hover {
  color: #FF0000;
}

@media only screen and (max-width: 1199px) {
  .form-wrapper .form-section.purchase-contact {
    display: block;
  }

  .table .status-class .status-box span {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .form-wrapper .form-section {
    display: block !important;
  }

  .buttons {
    margin: 1rem auto;
  }

  .status-box {
    display: block;
  }

  .pr-circle {
    margin: 0 auto 0.5rem;
  }
}
@media only screen and (max-width: 767px) {
  #sidebar {
    text-align: center;
    min-width: 270px;
    max-width: 270px;
  }
  #sidebar.active {
    margin-left: -150px;
  }

  #sidebarCollapse span {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .padding-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .pt {
    padding-top: 1rem;
  }

  .pb {
    padding-bottom: 1rem;
  }

  .build-section {
    padding: 1rem;
  }
}
.part-run-image {
  margin: 0 auto 2rem;
}

.purchase-contact .btn-purchase i {
  margin-right: 1rem;
}

.description-col p {
  background-color: transparent !important;
  font-family: "Nunito", sans-serif !important;
  font-size: calc((18 / 16) * 1rem);
  letter-spacing: calc((50 / 1000) * 1rem);
}

.form-control.interested {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.paid-col a.p-link {
  width: 100%;
}

.interest-shipped i {
  margin-left: auto;
}

ul.links {
  list-style-type: none;
  padding-left: 0;
}
ul.links li {
  padding: 0.5rem;
}
ul.links li i {
  margin-right: 1rem;
}

@media only screen and (max-width: 400px) {
  .oauth-buttons a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

.c-dark-theme a {
  color: #000;
}

.dropdown-item .fas {
  margin-right: 8px;
}

.fas.fa-plus {
  font-size: 10rem;
}

.title {
  text-transform: uppercase;
  font-size: calc(1.5rem + 0.3vw);
  letter-spacing: 0.7px;
}

/* Global CSS */
.c-sidebar-nav-link,
.c-sidebar-nav-item:hover {
  transition: 0.3s all;
}

/* Login */
.oauth-buttons a {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Events */
.c-dark-theme .form-control {
  color: #000000 !important;
  border: 1px solid #000000 !important;
}

.c-dark-theme .form-control::-moz-placeholder {
  color: #444 !important;
}

.c-dark-theme .form-control:-ms-input-placeholder {
  color: #444 !important;
}

.c-dark-theme .form-control::placeholder {
  color: #444 !important;
}

/* Datatables */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
}

/* Nav-Link */
.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover,
.c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle {
  transition: 0.5s ease-in-out;
}

.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover,
.c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #75a6d7;
  background: radial-gradient(circle, #75a6d7 0%, #5d86db 20%, #46659d 40%, #233454 60%, #131c2d 80%, #010203 100%);
}

/* General */
.sub {
  padding: 0.5%;
}

.c-dark-theme select.form-control option {
  background-color: #ffffff !important;
}

.c-dark-theme .custom-select {
  color: black;
}

/* User */
.new-award .form-control {
  height: 40px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.fas.fa-trophy.fa-fw {
  width: 1.25rem;
}

/* Buttons */
a.btn-header-primary {
  color: #fff;
  background: transparent;
  border: 1px solid #9561e2 !important;
  padding: 10px 20px;
}

a.btn-header-primary:hover,
a.btn-header-primary:focus {
  background: #9561e2;
  color: #fff;
}

a.btn-header-secondary {
  color: #fff;
  background: #9561e2;
  border: 1px solid #9561e2 !important;
  padding: 10px 20px;
}

a.btn-header-secondary:hover,
a.btn-header-secondary:focus {
  background: transparent;
  color: #fff;
}

.vue-map-container {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gmap-marker {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  color: #000;
}

.dataTables_wrapper .dt-buttons .dt-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  transition: 0.5s all;
}
.dataTables_wrapper .dt-buttons .buttons-export:hover {
  background: #fff;
  color: #000;
}
.dataTables_wrapper .dt-buttons .buttons-print:hover {
  background: #1b5c9e;
  color: #fff;
}
.dataTables_wrapper .dt-buttons .buttons-reload:hover {
  background: green;
  color: #fff;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

#users-table .badge {
  margin-right: 0.5rem;
}
#users-table .buttons {
  width: 100%;
}
#users-table .buttons a {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
#users-table .buttons form {
  width: 100%;
}
#users-table .buttons .btn-view {
  text-decoration: none;
  transition: 0.5s all;
}
#users-table .buttons .btn-view:hover {
  text-decoration: none;
  background: #fff;
  border-color: #fff;
}
#users-table .buttons .btn-view:hover i {
  color: #000;
}
#users-table .buttons .btn-edit {
  text-decoration: none;
  transition: 0.5s all;
}
#users-table .buttons .btn-edit:hover {
  text-decoration: none;
  background: #1b5c9e;
}
#users-table .buttons form {
  text-decoration: none;
  transition: 0.5s all;
}
#users-table .buttons form:hover {
  text-decoration: none;
  background: #d16767;
}

.dataTables_paginate {
  margin-top: 1rem;
}
.dataTables_paginate a {
  color: #fff;
  margin: 0 1rem;
}
.dataTables_paginate span a {
  margin: 0.75rem 0;
  padding: 0.25rem;
  color: #fff !important;
}

/*
  New Styling Methods - RH$primaryColor: #181924;
*/
.white-link {
  color: #fff !important;
  text-decoration: none;
}
