.btn {
  box-shadow: none !important;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
}

.btn-create {
  text-transform: uppercase;
  border: 1px solid #6cb2eb;
  background: transparent;
  padding: 5px 40px;
  transition: 0.5s all;
  color: #fff;
}
.btn-create p {
  margin: 0;
}
.btn-create:hover {
  background: #6cb2eb;
  color: #fff;
}

.btn-view {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #fff;
  background: transparent;
  padding: 10px 20px;
  transition: 0.5s all;
  color: #fff;
}
.btn-view i {
  color: #fff;
  margin-right: 1rem;
}
.btn-view:hover {
  background: #fff;
}
.btn-view:hover i {
  color: #181924;
}

.btn-edit {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #2586e7;
  background: transparent;
  padding: 10px 20px;
  transition: 0.5s all;
  color: #fff;
}
.btn-edit i {
  color: #fff;
  margin-right: 1rem;
}
.btn-edit:hover {
  background: #2586e7;
  color: #fff;
}
.btn-edit:hover i {
  color: #fff;
}

.btn-delete {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #e3342f;
  background: transparent;
  padding: 10px 20px;
  transition: 0.5s all;
  color: #fff;
}
.btn-delete i {
  color: #fff;
  margin-right: 1rem;
}
.btn-delete:hover {
  background: #e3342f;
  color: #fff;
}
.btn-delete:hover i {
  color: #fff;
}

.btn-back {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #e3342f;
  background: transparent;
  padding: 5px 20px;
  transition: 0.5s all;
  color: #fff;
}
.btn-back::before {
  content: "\f053";
  font-family: "Font Awesome 5 Pro", sans-serif;
  color: #fff;
  margin-right: 0.5rem;
  font-size: 1rem;
}
.btn-back i {
  color: #fff;
}
.btn-back:hover {
  background: #e3342f;
  color: #fff;
}
.btn-back:hover i {
  color: #fff;
}

.btn-purchase {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #38c172;
  background: transparent;
  padding: 10px 20px;
  transition: 0.5s all;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-purchase i {
  color: #fff;
  margin-right: 1rem;
}
.btn-purchase:hover {
  background: #38c172;
  color: #fff;
}
.btn-purchase:hover i {
  color: #fff;
}

.btn-mot {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  box-shadow: none;
}
.btn-mot.btn-mot--light {
  background: #eee;
}

.btn-motinfo {
  border: 0px;
  color: #fff;
  line-height: 40px;
  box-shadow: none;
}
.btn-motinfo:hover {
  color: #75a5d6;
}

.btn-mot-invert {
  text-transform: uppercase;
  border: 1px solid #fff;
}

.btn-kill {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #d16767;
  background: transparent;
}

.btn-link {
  border: 1px solid #d8d7d7;
  display: inline-block;
}

.btn-comment {
  text-transform: uppercase;
  border: 1px solid #000000;
  background: none;
}

.btn-details {
  text-transform: uppercase;
  border: 1px solid #2586e7;
  background: none;
}

.btn-cover {
  text-transform: uppercase;
  border: 1px solid white;
  display: inline-block;
}

.btn-mot:hover {
  border: 1px solid #424242;
  color: #696969;
}

.btn-mot-invert:hover {
  text-transform: uppercase;
  color: #696969;
}

.btn-kill:hover {
  border: 1px solid #854242;
}

.btn-link:hover {
  border: 1px solid #636262;
  color: #cfcfcf;
  text-decoration: none;
}

.btn-comment:hover {
  border: 1px solid #424242;
  color: #696969;
}

.btn-details:hover {
  border: 1px solid #035fbb;
  text-decoration: none;
}

.btn-cover:hover {
  border: 1px solid #969595;
  text-decoration: none;
}

.btn-motinfosub {
  border: 0px;
  color: #fff;
  line-height: 40px;
}

.btn-motinfosub:hover {
  color: #a4b1d0;
}

.btn-motinfo,
.btn-motinfosub:focus {
  text-decoration: none;
  border: none;
  box-shadow: none !important;
}

.btn-transparent-outline-blue {
  text-transform: uppercase;
  border: 1px solid #3490dc;
  color: #000 !important;
  padding: 10px 40px;
  border-radius: calc(0.25rem - 1px);
  transition: 0.3s ease-in-out;
}

.btn-transparent-outline-blue:hover,
.btn-transparent-outline-blue:focus {
  background: #3490dc;
  color: #fff !important;
}

.btn-transparent-outline-view-event {
  border: 1px solid #fff;
  color: #fff !important;
  background: transparent;
  padding: 5px 20px;
  border-radius: calc(0.25rem - 1px);
  transition: 0.3s ease-in-out;
}

.btn-transparent-outline-view-event:hover,
.btn-transparent-outline-view-event:focus {
  background: #fff;
  color: #000 !important;
}

.btn-outline-icon-view {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: calc(0.25rem - 1px);
  padding: 2px 5px;
  color: #fff;
  background: transparent;
  transition: 0.3s ease-in-out;
}
.btn-outline-icon-view .fas.fa-eye {
  color: #fff;
}

.btn-outline-icon-view:hover,
.btn-outline-icon-view:focus {
  background: #fff;
}
.btn-outline-icon-view:hover .fas.fa-eye,
.btn-outline-icon-view:focus .fas.fa-eye {
  color: #9561e2;
}
