.btn {
  box-shadow: none !important;
}

.btn-mot {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  box-shadow: none;
  font-family: "Michroma", sans-serif;
}
.btn-mot.btn-mot--light {
  background: #eee;
}

.btn-motinfo {
  border: 0px;
  color: #fff;
  line-height: 40px;
  box-shadow: none;
}
.btn-motinfo:hover {
  color: #75a5d6;
}

.btn-mot-invert {
  text-transform: uppercase;
  border: 1px solid #fff;
}

.btn-view {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #fff;
}

.btn-edit {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #2586e7 !important;
}

.btn-kill {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #d16767;
  background: transparent;
}

.btn-link {
  border: 1px solid #d8d7d7;
  display: inline-block;
}

.btn-comment {
  text-transform: uppercase;
  border: 1px solid #000000;
  background: none;
}

.btn-details {
  text-transform: uppercase;
  border: 1px solid #2586e7;
  background: none;
}

.btn-cover {
  text-transform: uppercase;
  border: 1px solid white;
  display: inline-block;
}

.btn-mot:hover {
  border: 1px solid #424242;
  color: #696969;
}

.btn-mot-invert:hover {
  text-transform: uppercase;
  color: #696969;
}

.btn-view:hover {
  border: 1px solid #3b2fa4;
  color: #212529;
}

.btn-edit:hover {
  border: 1px solid #1b5c9e;
}

.btn-kill:hover {
  border: 1px solid #854242;
}

.btn-link:hover {
  border: 1px solid #636262;
  color: #cfcfcf;
  text-decoration: none;
}

.btn-comment:hover {
  border: 1px solid #424242;
  color: #696969;
}

.btn-details:hover {
  border: 1px solid #035fbb;
  text-decoration: none;
}

.btn-cover:hover {
  border: 1px solid #969595;
  text-decoration: none;
}

.btn-motinfosub {
  border: 0px;
  color: #fff;
  line-height: 40px;
}

.btn-motinfosub:hover {
  color: #a4b1d0;
}

.btn-motinfo,
.btn-motinfosub:focus {
  text-decoration: none;
  border: none;
  box-shadow: none !important;
}

.btn-transparent-outline-blue {
  text-transform: uppercase;
  border: 1px solid #3490dc;
  color: #000 !important;
  padding: 10px 40px;
  border-radius: calc(0.25rem - 1px);
  transition: 0.3s ease-in-out;
}

.btn-transparent-outline-blue:hover,
.btn-transparent-outline-blue:focus {
  background: #3490dc;
  color: #fff !important;
}

.btn-transparent-outline-view-event {
  border: 1px solid #fff;
  color: #fff !important;
  background: transparent;
  padding: 5px 20px;
  border-radius: calc(0.25rem - 1px);
  transition: 0.3s ease-in-out;
}

.btn-transparent-outline-view-event:hover,
.btn-transparent-outline-view-event:focus {
  background: #fff;
  color: #000 !important;
}

.btn-outline-icon-view {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: calc(0.25rem - 1px);
  padding: 2px 5px;
  color: #fff;
  background: transparent;
  transition: 0.3s ease-in-out;
}
.btn-outline-icon-view .fas.fa-eye {
  color: #fff;
}

.btn-outline-icon-view:hover,
.btn-outline-icon-view:focus {
  background: #fff;
}
.btn-outline-icon-view:hover .fas.fa-eye,
.btn-outline-icon-view:focus .fas.fa-eye {
  color: #9561e2;
}
