@media(min-width:1200px){
    .title.m-b-md{
        font-size:2rem;
    }
}
@media(min-width:1920px){
    .title.m-b-md{
        font-size: 5rem;
    }
    .sub-title{
        font-size: 2rem;
    }
}
