@import url(http://fonts.googleapis.com/css?family=Michroma:400,300,700);

body {
  font-family: 'Michroma', sans-serif !important;
}
.table table {
  table-layout:fixed;
}

.table-sm th td {
  padding: .2rem;
  font-size: 0.75rem;
}

.droid-card {
  border: 1px solid #7BAABC;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  display: block;
  cursor: pointer;
  opacity: 1;
  max-width: 250px;
  min-width: 200px;
}

.droid-card :hover {
  background-color: rgba(5, 80, 150, 0.3);
}

.droid-card-content {
  background-color: transparent;
  padding: 1%;
}

.droid-card-content :hover {
  background-color: transparent;
}

.droid-card-table {
  display: table;
  width: 100%;
  height: 30px;
  margin-bottom: 2px;
  color: #c6d8e3;
}

.droid-card-row {
  display: table-row;
}

.droid-card-left {
  display: table-cell;
  width: 25px;
  min-width: 25px;
  text-align: left;
  vertical-align: middle;
}

.droid-card-center {
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.droid-card-right {
  display: table-cell;
  width: 25px;
  min-width: 25px;
  text-align: right;
  vertical-align: middle;
}

.droid-card-row input[type=image] {
  height: 20px;
  opacity: 0.2;
}

.droid-card-row input[type=image]:hover {
  opacity: 1;
}

.actions-buttons {
  border-width: 0px;
  padding: 2px 2px;
  margin-bottom: 0px;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:80.25%;
    position:relative;
    height:0;
}


.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
}
/*Home Page Styling*/

/*Override Dark.css .a styling*/
.c-dark-theme a{
    color:white;
}
.title.m-b-md{
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 4px 4px #226980;
    font-size: 2rem;
}
.sub-title{
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-auth{
    color: white;
    font-size:1.5rem;
    border: 1px white solid;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
}
.btn-auth:hover{
    color:black!important;
    background: white;
}

/* User Profile */
.message{
    width:100%;
}
.text-muted.mt-1.text-right{
    display:flex;
    justify-content: right;
    text-align:right;
}

/* Add New Droid */
.form-select{
    color:white;
    background: #181924;
}

/* Button */
.btn-mot{
    text-transform:uppercase;
    width:100%;
    border: 1px solid grey;
    color:White;
}
.btn-view{
    text-transform:uppercase;
    width:100%;
    border: 1px solid #5342e7;
}
.btn-edit{
    text-transform:uppercase;
    width:100%;
    border: 1px solid #2586e7;
}
.btn-kill{
    text-transform:uppercase;
    width:100%;
    border: 1px solid #d16767;
    background: transparent;
    color:white;
}
.btn-link{
    border: 1px solid #d8d7d7;
}
.btn-mot:hover{
    border: 1px solid white;
    color:white;
}
.btn-view:hover{
    border: 1px solid #3b2fa4;
}
.btn-edit:hover{
    border: 1px solid #1b5c9e;
}
.btn-kill:hover{
    border: 1px solid #854242;
}
.btn-link:hover{
    border: 1px solid #636262;
    color:#cfcfcf;
    text-decoration: none;
}
