.c-sidebar-brand {
  font-family: "Michroma", sans-serif !important;
}

.c-sidebar-nav-link .fas,
.c-sidebar-nav-link .fab {
  margin-right: 16px;
}

.c-sidebar-nav-item {
  line-height: 1;
}

.sideFooter {
  padding: 8px;
}

#facebookLi:hover {
  background: #3b5998;
}
#facebookLi:hover a:hover {
  color: #FFF !important;
}

#discordLi:hover {
  background: #7289da;
}
#discordLi:hover a:hover {
  color: #FFF !important;
}

#youtubeLi:hover {
  background: #ff0000;
}
#youtubeLi:hover a:hover {
  color: #FFF !important;
}

#youtubeLi:hover {
  background: #ff0000;
}
#youtubeLi:hover a:hover {
  color: #FFF !important;
}

.social-icons {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}
.social-icons a {
  padding: 16px;
  color: #ffffff;
}
.social-icons li {
  border: none !important;
  border-radius: 0 !important;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
